.Navbar {
  display: none;
  align-items: center;
}

.Navitems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: right;
}

.Navitem a {
  text-decoration: none;
  color: white;
  margin-left: 1rem;
}

@media (min-width: 768px) {
  .Navbar {
    display: flex;
  }
}
